/* Helpers */
.nav {
    margin-bottom: 0px;
}

#app {
    height: 100vh;
}

.clear-z-index {
    z-index: +100;
}

/* Reset */
body {
    position: absolute;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100%;
}

h2 {
    font-size: 24pt;
    font-weight: 600;
}

h3 {
    font-size: 18pt;
    font-weight: 400;
}

h4 {
    font-size: 16pt;
    font-weight: 400;
}

p {
    font-size: 14pt;
}

.datepicker-date-display, .timepicker-digital-display {
    background: #5e35b1 !important;
}

.datepicker-cancel, .datepicker-done {
    color: black !important;
}
.activeMission {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 25px;
    background: #5e35b1;
    color: #fff;
    writing-mode: sideways-lr;
    text-orientation: mixed;
    text-align: center;
    line-height: 25px;
    font-weight: 300;
    font-size: 14pt;
}

.material-tooltip {
    margin-left: 10px;
    border-radius: 10px;
}

/* Map Related */

.map {
    z-index: 0;
    margin: 0px;
    padding: 0px !important;
    height: 100%;
}

.map .lock {
    z-index: 2;
    position: relative;
    left: 0px;
    height: 100%;
    width: 100%;
    background: #000;
    color: #fff;
    opacity: 0.75;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;
}

.map .lock p {
    font-size: 16pt;
}

.coordinates {
    display: none;
    position: absolute;
    bottom: 15px;
    right: 15px;
    padding: 5px 10px 5px 10px;
    background: #212121;
    opacity: 0.85;
    color: #fff;
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
  }
  
.coordinates p {
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 12pt;
}

.map .editor {
    display: none;
    z-index: 2;
    position: absolute;
    left: 15px;
    top: 15px;
    padding: 15px 15px 5px 15px;
    background: #212121;
    color: #fff;
    border-radius: 10px;
    opacity: 0.85;
}

.map .drop-point-alert {
    display: none;
    z-index: 2;
    position: relative;
    padding: 20px 15px 20px 15px;
    width: 200px;
    margin: 15px auto;
    background: #212121;
    color: #fff;
    border-radius: 10px;
    opacity: 0.85;
    text-align: center;
    font-weight: 600;
    font-size: 14pt;
}

.map .editor i {
    display: block;
    text-align: center;
    font-size: 16pt;
    margin-bottom: 10px;
    cursor: pointer;
}

.map .editor .general {
    color: #18ffff;
}

.map .editor .threat {
    color: #e53935;
}

.map .editor .emission {
    color: #00e676;
}

.map .editor-basemap {
    left: 15px;
    top: 210px;
}

.map .editor-north-indicator {
    display: none;
    z-index: 2;
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 10px 15px 10px 15px;
    border: 3px solid #212121;
    border-radius: 10px;
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.map .editor-north-indicator img {
    width: 25px;
}

.map .editor-north-indicator p {
    position: relative;
    text-align: center;
    margin: 0px 0px 5px 0px;
    font-size: 18pt;
    font-weight: 800;
    color: #fff;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.map .editor-pane {
    z-index: 2;
    position: absolute;
    left: 80px;
    top: 15px;
    background: #212121;
    color: #fff;
    border-radius: 10px;
    opacity: 0.85;
}

/* Everything Else */

#app .loading {
    z-index: +10;
    position: absolute;
    top: 0px;
    left: 0px;
    height:100%;
    width: 100%;
    background: #212121;
    color: #fff;
}

#app .loading .preloader-wrapper {
    margin-top: 15px;
}

.pane {
    width: 100%;
    padding: 10px 15px 10px 15px;
    
}

.pane .firstPhaseBtn1 {
    width: 65%;
    min-width: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.pane .firstPhaseBtn2 {
    width: 25%;
    min-width: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.myModal {
    z-index: +50;
    position: absolute;
    top: 40px;
}

.phase {
    width: 100%;
    padding: 0px 20px 0px 20px;
    transition: 0.6s;
    word-break: break-word;
}

.phase:hover {
    cursor: pointer;
    background: #eeeeee;
}

.phase p {
    font-size: 12pt;
}

.phase i {
    cursor: pointer;
}

.phaseBuilder {
    display: none;
}

.phaseBuilder i {
    cursor: pointer;
    margin-right: 10px;
}