<!DOCTYPE html>
<html>
<head>
    <title>Phaser - WIC Phase Planning</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/depends/materialize.min.css"  media="screen,projection"/>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.css' rel='stylesheet' />
    <link type="text/css" rel="stylesheet" href="css/main.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="css/depends/animate.min.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
    <div id="app">
        <div class="loading valign-wrapper">
            <div class="row">
                <div class="col s12 center-align">
                    <h2>Welcome to Phaser</h2>
                </div>
                <div class="col s12 center-align">
                    <div class="preloader-wrapper big active">
                        <div class="spinner-layer spinner-blue-only">
                          <div class="circle-clipper left">
                            <div class="circle"></div>
                          </div><div class="gap-patch">
                            <div class="circle"></div>
                          </div><div class="circle-clipper right">
                            <div class="circle"></div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row nav"> 
            <nav>
                <div class="nav-wrapper deep-purple darken-2" style="z-index: +50;">
                    <a href="#!" class="brand-logo center" v-on:click="resetUI()">
                        <i class="fas fa-fighter-jet right"></i>
                        <span class="left">Phaser</span>
                    </a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="#">Intro</a></li>
                        <li><a href="#">Status</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="row" style="position: absolute; top: 0px; padding-top: 64px; height: 100%; width: 100%; overflow: hidden;">
            <div class="col s12 m4 l3 pane" style="height: 100%">
                <div class="row" style="height: 100%;">
                    <div class="col s12" style="height: 100%; overflow: auto;">
                        <h2>Phaser <i class="fas fa-fighter-jet"></i></h2>
                        <p>Generate red threat data for training missions, brought to you by 14 WPS/WSI.</p>
                        <p v-if="status.phases.length == 0">Get started by launching a new phase, or importing a saved state.</p>
                        <div class="center-align">
                            <a class="waves-effect waves-dark btn-large firstPhaseBtn1 deep-purple darken-1 modal-trigger" data-target="phaseModal">New Phase</a>
                            <a class="waves-effect waves-dark btn-large firstPhaseBtn2 dropdown-trigger purple accent-2" data-target="managePhaseDropdown">Manage</a>
                            <ul class="dropdown-content" id="managePhaseDropdown">
                                <li><a href="#" class="black-text" v-on:click="document.getElementById('importState').click()">Import</a></li>
                                <input type="file" @change="importData" id="importState" ref="importState" style="display: none;" />
                                <li v-if="status.phases.length > 0"><a href="#" class="black-text" v-on:click="exportData()">Export</a></li>
                                <li><a href="#" class="black-text" v-on:click="clearData()">Clear state</a></li>
                            </ul>
                            <div id="phaseModal" class="modal">
                                <div class="modal-content left-align">
                                    <h2>Add Phase</h2>
                                    <p>Start planning for your next phase. Enter the requested information below to get started. Once added, add threats and emissions.</p>
                                    <div class="row">
                                        <div class="input-field col s6">
                                            <input type="text" class="validate" v-model="addDataForm.phaseName" />
                                            <label>Phase name</label>
                                        </div>
                                        <div class="input-field col s6">
                                            <input type="text" class="validate" v-model="addDataForm.leadName" />
                                            <label>Lead name</label>
                                        </div>
                                        <div class="input-field col s6">
                                            <input type="text" class="datepicker" id="dateStart" v-model="addDataForm.dateStart" />
                                            <label>Start date</label>
                                        </div>
                                        <div class="input-field col s6">
                                            <input type="text" class="datepicker" id="dateEnd" v-model="addDataForm.dateEnd" />
                                            <label>End date</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <a href="#" class=" waves-effect waves-dark btn-flat" v-on:click="addData('phase')">Start planning</a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12"><h3>Phases found: {{status.phases.length}}</h3></div>
                            <div class="col s12" v-for="(phase, index) in status.phases">
                                <div class="card-panel phase left">
                                    <h4 class="right" v-on:click="delData('phases', phase.uuid)"><i class="far fa-trash-alt"></i></h4>
                                    <div v-on:click="enterPhaseBuilder(index)">
                                        <h4 class="left">{{phase.name}} <small>{{phase.dateStart}} - {{phase.dateEnd}}</small></h4>
                                        <pre style="font-size: 8pt; clear: left;">{{phase.uuid}}</pre>
                                        <p style="clear: left;"><b>Lead:</b> {{phase.lead}} <b style="margin-left:10px;">Missions added:</b> {{phase.missions.length}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l3 phaseBuilder" style="height: 100%">
                <div class="row" style="height: 100%;">
                    <div class="col s12" style="height: 100%; overflow: auto;">
                        <h3><i class="fas fa-long-arrow-alt-left" v-on:click="resetUI()"></i>{{editingPhase.name}} <small>{{editingPhase.dateStart}} - {{editingPhase.dateEnd}}</small></h3>
                        <pre style="font-size: 8pt; clear: left;">{{editingPhase.uuid}}</pre>
                        <p style="font-size: 15pt; clear: left;">
                            <b>Lead:</b> {{editingPhase.lead}} 
                            <b style="margin-left:10px;">Add mission:</b> 
                            <a class="modal-trigger" data-target="missionModal"><i class="fas fa-plus purple-text text-accent-2 right-align" style="margin-left: 5px;"></i></a>
                        </p>
                        <div class="row">
                            <div class="col s12" v-for="(mission, index) in editingPhase.missions">
                                <div class="card-panel phase left" style="position: relative; padding-left: 35px;">
                                    <div class="activeMission left">Active</div>
                                    <h4 class="right" v-on:click="delData('missions', editingPhase.uuid, mission.uuid)"><i class="far fa-trash-alt"></i></h4>
                                    <div v-on:click="e => selectActiveMission(index, e)">
                                        <h4 class="left">{{mission.name}} <small>{{mission.date}} - {{mission.onStation}}</small></h4>
                                        <pre style="font-size: 8pt; clear: left;">{{mission.uuid}}</pre>
                                        <p style="clear: left;"><b>IOR:</b> {{mission.ior}} <b style="margin-left:10px;">MPC Chief:</b> {{mission.mpcChief}} <b style="margin-left:10px;">Range:</b> {{mission.range}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="missionModal" class="modal">
                    <div class="modal-content left-align">
                        <h2>Add Mission</h2>
                        <p>Missions will appear on Phaser's planning timeline.</p>
                        <div class="row">
                            <div class="input-field col s6">
                                <input type="text" class="validate" v-model="addDataForm.missionName" />
                                <label>Mission name</label>
                            </div>
                            <div class="input-field col s6">
                                <select v-model="addDataForm.missionRange">
                                    <option value="" disabled selected>Choose your option</option>
                                    <option value="Pilsung">Pilsung</option>
                                    <option value="Harrumph">Harrumph</option>
                                    <option value="Voodoo">Voodoo</option>
                                </select>
                                <label>Range</label>
                            </div>
                            <div class="input-field col s6">
                                <input type="text" class="validate" v-model="addDataForm.missionIOR" />
                                <label>Mission IOR</label>
                            </div>
                            <div class="input-field col s6">
                                <input type="text" class="validate" v-model="addDataForm.missionMpcChief" />
                                <label>Mission MPC Chief</label>
                            </div>
                            <div class="input-field col s6">
                                <input type="text" class="datepicker" id="missionDate" v-model="addDataForm.missionDate" />
                                <label>Date</label>
                            </div>
                            <div class="input-field col s6">
                                <input type="text" class="timepicker" id="missionTime" v-model="addDataForm.missionOnStation" />
                                <label>On-station time</label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="#" class=" waves-effect waves-dark btn-flat" v-on:click="addData('mission')">Create Mission</a>
                    </div>
                </div>
            </div>
            <div class="map col m8 l9 grey lighten-4" id="map">
                <div class="lock valign-wrapper">
                    <div class="col s12 center-align">
                        <h2>Mission Builder</h2>
                        <p id="step1">1. Select a phase</p>
                        <p>2. Create mission</p>
                    </div>
                </div>
                <div class="editor animate__animated animate__slideInLeft">
                    <i class="fas fa-map-marker-alt general tooltipped" id="addInfoPoint" data-position="right" data-tooltip="Add point"></i>
                    <br />
                    <i class="fas fa-map-marker-alt threat tooltipped" id="addThreatPoint" data-position="right" data-tooltip="Add threat"></i>
                    <i class="fas fa-road threat tooltipped" id="addOpforRoute" data-position="right" data-tooltip="Add OPFOR route"></i>
                    <br />
                    <i class="fas fa-bolt emission tooltipped" id="addEmissionPoint" data-position="right" data-tooltip="Add emission"></i>
                </div>
                <div class="editor editor-basemap animate__animated animate__slideInLeft">
                    <i class="fas fa-map general tooltipped" id="changeBaseMap" data-position="right" data-tooltip="Toggle basemap" v-on:click="changeMapStyle()"></i>
                </div>
            </div>
        </div>

        <div class="ui coordinates animate__animated animate__fadeIn">
            <p>Lng: {{mouse_coordinates.lng.toFixed(5)}}</p>
            <p>Lat: <span class="right">{{mouse_coordinates.lat.toFixed(5)}}</span></p>
          </div>
        </div>
    </div>

    <!--JavaScript at end of body for optimized loading. Dependancies first.-->
    <script async src="https://ga.jspm.io/npm:es-module-shims@0.10.1/dist/es-module-shims.min.js"></script>
    <!--
    JSPM Generator Import Map
    Edit URL: https://generator.jspm.io/#U2VgYGBkDM0rySzJSU1hKC3NTHGw0DPWMwIASG5aoxkA
    -->
    <script type="importmap">
    {
        "imports": {
            "uuid": "https://ga.jspm.io/npm:uuid@8.3.2/dist/esm-browser/index.js"
        }
    }
    </script>
    
    <script type="text/javascript" src="js/depends/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="js/depends/vue.min.js"></script>
    <script type="text/javascript" src="js/depends/materialize.min.js"></script>
    <script type="text/javascript" src="js/depends/localstoragedb.min.js"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.js'></script>
    <script type="text/javascript" src="js/depends/turf.min.js"></script>
    <script src="https://kit.fontawesome.com/e2eb6553b9.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/g/filesaver.js"></script>
    
    <!--Import main logic-->
    <script type="module" src="js/db.js"></script>
    <script type="module" src="js/main.js"></script>
</body>
</html>
